

{% extends '_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Bootstrap CSS -->
    
    <title>{% block title %}Contact{% endblock title %}</title>

  </head>

 <body>
  <div class="card p-0 mt-0 text-black">

   <img src="{% static 'images/logo.jpg' %}" class="card-img  " alt="image">
   <div class="card-img-overlay">
   {% block content %}

   <h1>
     Thanks for Visiting.</h1>

   <h1>
     Contact us at the details given below 
   </h1>
    

   <h2>
    Call us : +91 8939 69659 29</h2>
    <h2>                                      
    Email us : NMGTtravels556@gmail.com </h2>
    <h2>
      Address : Liberty complex, PD mello road, 
    Near f1 terminal, Byculla, Mumbai,
    Maharashtra 400011
   </h2>



   {% endblock content %}
   </div>
   </div>


  </body>
</html>
