
{% extends '_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Bootstrap CSS -->
    
    <title>{% block title %}Contact Us{% endblock title %}</title>

  </head>

  {% block content %}
  <body>

     <div class="about py-5 ">
        <div class="container">
          

            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <!-- <img class="aboutus" src="{{ About_page.Abouus.url}}" alt="{{ listofpic.title }}" width="100%" height="230" > -->

                    <img src="{% static 'images/contact.jpg' %}"  class="img " alt="about us"width="88%" height="250">
                    <img src="{% static 'images/contact2.jpg' %}"  class="img " alt="about us"width="88%" height="250">
                    <img src="{% static 'images/contact3.jpg' %}"  class="img " alt="about us"width="88%" height="250">
                    <img src="{% static 'images/contact4.jpg' %}"  class="img " alt="about us"width="88%" height="250">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">NMGT TRAVELS</h5>
                      <p class="card-text"> 
                       
                      <h1>
                          Kindly let us know the Query / issues by contact us on the details given below.
                      </h1>
                      
                      
                       <h2>Email us: NMGTtravels556@gmail.com</h2>
                      
                
                      <h2>Call us: +91 8939 69659 29</h2>
                       
                      
                       
                          <h2>Address: Liberty complex, PD mello road, Near f1 terminal, Byculla, Mumbai 400011. </h2> 
                       
                  
                        
                
                
                        <h2>
                            THANKYOU FOR VISITING!
                        </h2>
                        </p>
                      <p class="card-text"><small class="text-muted">HOPE YOU HAVE A GOOD DAY</small></p>
                      <a href="{% url 'home' %}"button class="btn btn-outline-success me-md-2 " type="home" value= "save">home</a>
                    </div>
                  </div>
                </div>
              </div>
            




        </div>
     
     </div>
    
  </body>
    {% endblock content %}



    
</html>