
{% extends '_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Bootstrap CSS -->
    
    <title>{% block title %}Donations{% endblock title %}</title>

  </head>

  {% block content %}
  <body>

     <div class="about py-5 ">
        <div class="container">
          

            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <!-- <img class="foodimage" src="{{ About_page.AboutPicture.url}}" alt="{{ listofpic.title }}" width="100%" height="230" > -->

                    <img src="{% static 'images/ngo1.jpg' %}"  class="img " alt="about us"width="88%" height="250">
                    <img src="{% static 'images/ngo.jpg' %}"  class="img " alt="about us"width="88%" height="250">
                    <img src="{% static 'images/ngo2.jpg' %}"  class="img " alt="about us"width="88%" height="250">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">NMGT TRAVELS</h5>
                      <p class="card-text">  <h1>We are happy to share that we are now tied up to an NGO which helps kids , and senior citizens below is the deails of the NGO . if you want to donate in any way we are happy to welcome you {ITS NOT MANADATORY } </h1>
                        NGO information:  
                        
                          HelpAge India is a secular, not-for-profit organization in India, registered under the Societies’ Registration Act of 1860. Set up in 1978, the organization works for ‘the cause and care of disadvantaged older persons to improve their quality of life’ HelpAge envisions a society where elderly have the right to an active, healthy and dignified life. It recently became the first and only Indian organization to be honoured with the ‘UN Population Award 2020’ for its exemplary work in the field of ageing, relief efforts work during the Covid 19 pandemic and recognition of the organization’s outstanding contribution to population issues and efforts in the realization of older persons rights in India.
                          
                          Currently there are a projected 138 million elderly in India. HelpAge India voices their concerns, so they can lead secure & dignified lives. It works through 26 State Offices across India, runs numerous programs on-ground, addressing elder needs and advocating for their rights, such as their right to Universal Pension, quality Healthcare, action against Elder Abuse and many more at a national, state and societal level with Central and State governments. It advocates for elder friendly policies and their implementation thereof.
                          
                          The organization’s programs are focused on direct interventions in the areas of Healthcare (mobile healthcare units, cataract surgeries), Agecare (helplines, senior citizen care homes and day care centres, physiotherapy),  Livelihoods (elder-self-help groups; linkages with government schemes), Disaster Response (e.g. covid19 relief response), as well as Advocacy and Awareness on rights and policies relating to elders.
                          
                          All donations to HelpAge India are eligible for 50% tax exemption under section 80G of the Income Tax Act, 1961.
                      
                        </p>
                      <p class="card-text"><small class="text-muted">HOPE YOU HAVE A GOOD DAY</small></p>
                      <a href="{% url 'home' %}"button class="btn btn-outline-success me-md-2 " type="home" value= "save">home</a>
                    </div>
                  </div>
                </div>
              </div>
            




        </div>
     
     </div>
    
  </body>
    {% endblock content %}



    
</html>