
{% extends '_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description">
    <meta content="" name="keywords">


    
    <title>{% block title %}Feedback{% endblock title %}</title>

  </head>

  {% block content %}
  <body>


    <div class="container py-4 ">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col-md-5">
          <div class="card rounded-3 ">
                <div class="card-body border-dark text-white"style="background-color: #254635;">
    
                  <div class="text-center p-0">
                    <img src="{% static 'images/logo.png' %}"  width="45%" height="100" alt="logo">
                    <h4 class="name">NMGT Travels</h4>
                  </div>
                  <div class="pb-4 card-text">
                  <h2> Give your valuable Feedback </h2>
                  <h3> Share your thoughts on what we need to change/improve to ensure better costumer experience </h3>
                  <h4>share it on the following links below</h4>
                  <h4>Email us : NMGTtravels556@gmail.com</h4>
                  <h4>call us : +91 8939 69659 29</h4>
                  <!-- <div class=" bottompadding pb-3"></div> -->

                  </div>
                  <form action= "" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- <input type="submit" value="Save" /> -->
                    <div class=" bottompadding pb-3"></div>
                    <button class="btn btn-outline-success me-md-2 " type="home" value= "save">home</button>
                  </form>
    
    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

 </body>
  
    {% endblock content %}
</html>





<h1>yogdaan dijiye</h1>