

{% extends '_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Bootstrap CSS -->
    
    
    
    <title>{% block title %}Home{% endblock title %}</title>

  </head>

 <body>
  <div class="card p-0 mt-0 text-black " >
    

   
   
   {% block content %}

   
    <section id="blog" class="blog">
      < class="container">
    
    
        <div class="row">
          <div class="col-sm-12 ps-5  pt-4 pb-4 ">
           
            <div class="card  text-white border-info mb-4 "style="background-color: #404040; width: 53rem;">
            <div id="carouselExampleFade" class=" card-img-top carousel slide carousel-fade" data-bs-ride="carousel" height= '325'>
            

              <div class="carousel-inner">
                <div class="carousel-item active " data-bs-interval="2000">
                  <img src= "{% static 'images/manali.jpg' %}"  class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/mumbai.jpg' %}"  class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/chennai.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/office.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/mumbai2.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/punjab.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/gujrat.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/chennai2.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/manali2.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/office2.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/ladakh.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/ladakh2.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/kashmir.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/kolkata.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/punjab2.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/gujrat2.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/office3.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/kashmir2.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/delhi.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/kolkata2.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
                <div class="carousel-item"  data-bs-interval="2000">
                  <img src= "{% static 'images/delhi2.jpg' %}" class="d-block w-100" height=" 325" alt="picture">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>


              <div class="card-body px-4">
                <h2 class="card-title pb-2">Welcome to NMGT Travels</h2>


                <div class="pt-18 pb-22 d-grid gap-1 d-md-flex  justify-content-md-start">
                  <a href= "{% url 'offersnow' %}" class="btn btn-outline-info me-md-3" type="button">OFFERS NOW</a>
                  <a href= "{% url 'packages' %}" class="btn btn-outline-info me-md-3" type="button">PACKAGES</a>               
                  <a href="{% url 'donations' %}" class="btn btn-outline-info me-md-3" type="button">DONATIONS</a>
                  <a href="{% url 'feedback' %}" class="btn btn-outline-info me-md-3" type="button">FEEDBACK</a>
                </div>
    
             
              </div>
            </div>
          </div>

        
          
               

               {% for listof in destination %}
               
               <div class="col-sm-12 ps-5  pt-4 pb-4 ">
               <class class="card shadow" style="width: 48rem; height: 38rem; background-color: rgb(3, 3, 3);">
               <div class="card-body">
               
      
                <!-- <div class="card shadow-sm"> -->
                  <a class="DestinationPicture" href="#">
                    <img class="DestinationPicture" src="{{ listof.DestinationPicture.url}}" alt="{{ listof.title }}" width="80%" height="400" >
                  </a>
                  
                   <!-- <svg class="bd-placeholder-img card-img-top" width="58%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
         
                   <div class="card-body">
                     <h3 class="card-text; text-success"> {{ listof.title }}</h3>
                     <h3 class="card-text; text-secondary">  Rs {{ listof.price }}</h3>
                     <a href="{% url 'customerdetails' %}" class="btn btn-outline-success" type="button">Book Now</a>
                     <div class="d-flex justify-content-between align-items-center">
                     </div>
                   </div>
                </div>     
               </class>
               <div class="p-3 pt-1 d-grid  d-md-flex  justify-content-md-start">
            
              </div>
              </div>
          
        
               
             {% endfor%}
             

         </div>
        </div>
      
      </div>

    </section> 


    

   {% endblock content %}
   </div>
   </div>


  </body>
</html>
